* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: sans-serif;
}

.nav_main {
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 12vh;
    width: 100vw;
    position: fixed;
}

.text_logo {
    font-family: Helvetica;
    font-size: 1.3rem;
    padding-left: 5vw;
}

.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    gap: 3.5vw;
}

.nav_social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 17vw;
    gap: 2.5vw;
}

nav a:link {
    text-decoration: none;
    color: white;
}

nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: none;
    color: gray;
}

nav a:active {
    text-decoration: none;
    color: white;
}