* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    font-family: sans-serif;
}

a {
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: gray;
}

a:active {
    color: white;
}

.header_main {
    background-color: black;
    color: white;
    display: flex;
    padding-top: 37px;
    padding-bottom: 37px;
}

.text_logo {
    padding-left: 3%;
    padding-right: 10%;
    font-size: larger;
    font-family: Helvetica;
}

.header_menu {
    display: flex;
    list-style: none;
}

.menu_item {
    padding-right: 40px;
}

.header-social {
    display: flex;
    padding-left: 10%;
}

.social_item {
    font-size: 18px;
    padding-right: 30px;
}

.social_item a i {
    display: flex;
}