<header class="header_main container-fluid">
  <div class="row align-items-center">
    <div class="col-6 text_logo">
      <a href="/">NADIMNESAR</a>
    </div>
    <nav class="col-6 d-flex justify-content-end">
      <div class="nav_social d-flex">
        <a href="https://github.com/nadimnesar" target="_blank"><i class="fab fa-github fa-lg"></i></a>
        <a href="https://www.linkedin.com/in/nadimnesar" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
        <a href="https://medium.com/@nadimnesar" target="_blank"><i class="fab fa-medium fa-lg"></i></a>
        <a href="https://t.me/nadimnesar" target="_blank"><i class="fab fa-telegram fa-lg"></i></a>
        <a href="https://wa.me/+8801580585294" target="_blank"><i class="fab fa-whatsapp fa-lg"></i></a>
      </div>
    </nav>
  </div>
</header>