.header_main {
  background-color: #111111;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 12vh;
  z-index: 100;
  padding: 0 2vw;

  .text_logo {
    font-family: 'Chivo Mono', monospace;
    font-size: 1.3rem;
    color: #fff;
    flex-grow: 1;

    a {
      text-decoration: none;
      color: #fff;

      &:hover {
        color: #a6a6a6;
      }
    }
  }

  .nav_social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    padding: 0 5vw;

    a {
      color: #fff;

      &:hover {
        color: #a6a6a6;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav_social {
    gap: 1.5vw;

    i {
      font-size: 1.2rem;
    }
  }
}