<section class="hero_banner">
  <h1 class="hero_title">Hi! I'm Nesar Ahmed, a full stack software engineer.</h1>
  <img class="hero_img" src="hero.jpg" alt="A picture of Nesar Ahmed">
  <p class="hero_dec">
    Usually, I enjoy developing interesting web applications and solving data structure and algorithm-related
    problems. However, when I feel stressed, I become a traveler.
  </p>
  <form action="/resume-v6.5.pdf" method="get" target="_blank">
    <button type="submit" aria-label="Download Resume">My Resume 🚀</button>
  </form>
</section>

<section class="technical-skills">
  <h2>Technical Skills</h2>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=13679&format=png&color=000000" alt="Java" class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=TpULddJc4gTh&format=png&color=000000" alt="Cpp"
          class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=90519&format=png&color=000000" alt="Springboot"
          class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=38561&format=png&color=000000" alt="PostgreSQL"
          class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=61466&format=png&color=000000" alt="Intellij Idea"
          class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=IoYmHUxgvrFB&format=png&color=000000" alt="Postman"
          class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=71257&format=png&color=000000" alt="Angular" class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=20909&format=png&color=000000" alt="Html" class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=21278&format=png&color=000000" alt="CSS" class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=22813&format=png&color=000000" alt="Docker" class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=20906&format=png&color=000000" alt="Git" class="skill-icon">
      </div>
      <div class="col-3 col-md-2 text-center">
        <img src="https://img.icons8.com/?size=100&id=17842&format=png&color=000000" alt="Linux" class="skill-icon">
      </div>
    </div>
  </div>
</section>

<section class="work-experience">
  <h2>Work Experience</h2>
  <div class="timeline">
    <!-- <div class="timeline-item left">
      <div class="content-box content-arrow-right">
        <h3>Associate Software Engineer</h3>
        <p>Exabyting | Nov 2024 - Present</p>
      </div>
    </div> -->

    <div class="timeline-item left">
      <div class="content-box content-arrow-right">
        <h3>Jr. Java Developer</h3>
        <p>Hubar Tech Limited | July 2024 - Present</p>
        <ul>
          <li>Developing and maintaining backend services for a microservice-based POS system.</li>
          <li>Designing and optimizing RESTful and SOAP APIs for core functionalities, including payment processing,
            refunds, multi-currency support, and audit reporting.</li>
          <li>Conducting database management tasks such as schema design, data normalization, and optimization.</li>
          <li>Writing clean, efficient, and maintainable code following best practices and software development standards.</li>
          <li>Collaborating with cross-functional teams to deliver high-quality, scalable, and reliable software solutions.</li>
          <li><b>Tech Stack: </b>Java 17, Spring Boot 3, Spring JDBC, Spring Security 6, PostgreSQL, Docker, Git, Jira, Confluence.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="accomplishments">
  <h2>Accomplishments</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 col-sm-12 accomplishment-card">
        <img src="icpc.png" alt="ICPC" class="accomplishment-icon">
        <p>ICPC Regionalist 2023.</p>
      </div>
      <div class="col-md-5 col-sm-12 accomplishment-card">
        <img src="codeforces.jpg" alt="Codeforces" class="accomplishment-icon">
        <p>Specialist on Codeforces.</p>
      </div>
      <div class="col-md-5 col-sm-12 accomplishment-card">
        <img src="codeforces.jpg" alt="Codeforces" class="accomplishment-icon">
        <p>Ranked 5th (Div 4), 11th (Div 4), 20th (Div 2) in Bangladesh.</p>
      </div>
      <div class="col-md-5 col-sm-12 accomplishment-card">
        <img src="cpc.png" alt="Programming Contest" class="accomplishment-icon">
        <p>10th place (2nd Year Champion) at DIU Intra-University Programming Contest, 2021.</p>
      </div>
      <div class="col-md-5 col-sm-12 accomplishment-card">
        <img src="cpc.png" alt="Programming Contest" class="accomplishment-icon">
        <p>1st Runner-Up at DIU TakeOff Programming Contest, Spring 2020.</p>
      </div>
      <div class="col-md-5 col-sm-12 accomplishment-card">
        <img src="brain.jpg" alt="Problem Solving" class="accomplishment-icon">
        <p>Solved 2,100+ problems across various online judges.</p>
      </div>
    </div>
  </div>
</section>