<section class="hero_banner">
  <h1 class="hero_title">Hi! I'm Nesar Ahmed, a full stack software engineer.</h1>
  <img class="hero_img" src="hero.jpg" alt="Hero Image">
  <p class="hero_dec">
    Usually, I enjoy developing interesting web applications and solving data structure and algorithm-related
    problems. However, when I feel depressed, I become a traveler.
  </p>
  <form action="/resume-v6.5.pdf" method="get" target="_blank">
    <button type="submit">My Resume 🚀</button>
  </form>
</section>

<section class="work-experience">
  <h2>Work Experience</h2>
  <div class="timeline">
    <div class="timeline-item left">
      <div class="timeline-date left">November 2024 - Present</div>
      <div class="content-box">
        <h3>Associate Software Engineer</h3>
        <p>Exabyting</p>
        <ul>
          <li>Assisted in the development and maintenance of Java based applications.</li>
          <li>Wrote clean, efficient, and well-documented code.</li>
          <li>Learned and applied best practices in software development and version control.</li>
        </ul>
      </div>
    </div>

    <div class="timeline-item right">
      <div class="timeline-date right">July 2024 - October 2024</div>
      <div class="content-box">
        <h3>Jr. Java Developer</h3>
        <p>Hubar Tech Limited</p>
        <ul>
          <li>Developed and maintained backend services for a microservice-based POS system using Spring Boot.</li>
          <li>Built and optimized RESTful and Soap APIs for payment processing, refunds, audit reporting, multi-currency and more.</li>
          <li>Managed database tasks, including schema design, normalization using JDBC and PostgreSQL.</li>
          <li>Wrote clean, efficient, and well-documented code, adhering to best practices in software development.</li>
          <li>Collaborated with cross-functional teams to deliver robust, high-quality software solutions.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
