@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-back-color: #FFFFFF;
    --secondary-back-color: #111111;

    --primary-text-color-white-back: #333333;

    --primary-text-color-black-back: #ffffff;
    --secondary-text-color-black-back: #a6a6a6;

    --head-font: 'Chivo Mono', monospace;
    --regular-font: 'Roboto', sans-serif;
}

body {
    background-color: var(--primary-back-color);
    font-family: var(--regular-font);
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

main {
    padding-top: 12vh;
}

button {
    background-color: var(--secondary-back-color);
    color: var(--primary-text-color-black-back);
    padding: 12px;
    border: 0;
    border-radius: 4px;
}

button:hover {
    background-color: var(--primary-text-color-white-back);
    color: var(--primary-text-color-black-back);
    padding: 12px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.flex {
    display: flex;
}

/* header */

.header_main {
    background-color: var(--secondary-back-color);
    display: flex;
    position: fixed;
    align-items: center;
    height: 12vh;
    width: 100%;
}

.text_logo {
    font-family: var(--head-font);
    font-size: 1.3rem;
    padding-left: 5vw;
}

.nav_social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 62vw;
    gap: 2.5vw;
}

header a:link {
    text-decoration: none;
    color: var(--primary-text-color-black-back);
}

header a:visited {
    text-decoration: none;
    color: var(--primary-text-color-black-back);
}

header a:hover {
    text-decoration: none;
    color: var(--primary-text-color-black-back);
}

nav a:hover {
    text-decoration: none;
    color: var(--secondary-text-color-black-back);
}

header a:active {
    text-decoration: none;
    color: var(--primary-text-color-black-back);
}

/* hero banner */

.hero_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.hero_title {
    font-family: var(--head-font);
    font-size: 2rem;
    padding-bottom: 5vh;
    color: var(--primary-text-color-white-back);
}

.hero_img {
    border-radius: 400px;
    height: 40%;
    width: 20%;
}

.hero_dec {
    font-size: 1.3rem;
    text-align: center;
    color: var(--primary-text-color-white-back);
    padding-top: 3.2vh;
    padding-bottom: 2.5vh;
}

/* footer */

footer a:link {
    text-decoration: none;
    color: var(--primary-text-color-black-back);
}

footer a:visited {
    text-decoration: none;
    color: var(--primary-text-color-black-back);
}

footer a:hover {
    text-decoration: none;
    color: var(--primary-text-color-black-back);
}

footer a:active {
    text-decoration: none;
    color: var(--primary-text-color-black-back);
}

.main_footer {
    background-color: var(--secondary-back-color);
    color: var(--secondary-text-color-black-back);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    height: 7vh;
}