@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

main {
  flex: 1;
  padding-top: 12vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

footer {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}